<div class="mt-3 mr-4 ml-4">
    <p-panel>
        <ng-template #header>
            <div class="flex items-center gap-2"> 
                <p-button 
                    icon="pi pi-arrow-left" 
                    [rounded]="true" 
                    [text]="true" 
                    (click)="navigator.back()" 
                    pTooltip="Volver"
                    tooltipPosition="bottom"/>
                <span class="font-bold" style="margin-top: 15px">Ajustes de Informes</span>
            </div>
        </ng-template>

        <div class="grid">
            
            <div class="col-6 col-offset-3">
                <label for="abs_limit" class="font-semibold">Porcentaje límite de faltas</label>
                <p-inputNumber 
                    id="abs_limit"
                    [(ngModel)]="settings.absencesLimit" 
                    suffix=" %" 
                    [min]="1" 
                    [max]="100" 
                    styleClass="w-full"
                    inputStyleClass="w-full" />
                <small class="text-gray-500">Define el umbral para el marcado de alertas (Rojo).</small>
            </div>

            <div class="col-6 col-offset-3 mt-4">
            <label for="abs_justify" class="font-semibold block mb-2">Tener en cuenta faltas justificadas</label>                    
            <p-toggleButton 
                id="abs_justify"
                [(ngModel)]="settings.includeJustified" 
                onLabel="Sí" 
                offLabel="No" 
                onIcon="pi pi-check" 
                offIcon="pi pi-times" 
                styleClass="w-full"
                [invalid]="!settings.includeJustified" 
                fluid/> <small class="text-gray-500 block mt-1">Si se activa, las faltas justificadas sumarán al cálculo total.</small>
        </div>

            <div class="col-3 col-offset-3 mt-6">
                <p-button 
                    label="Guardar Ajustes" 
                    icon="pi pi-save" 
                    (click)="saveSettings()"
                    styleClass="w-full" />
            </div>

            <div class="col-3 mt-6">
                <p-button 
                    label="Cancelar" 
                    icon="pi pi-times" 
                    severity="secondary" 
                    (click)="navigator.back()" 
                    styleClass="w-full" />
            </div>

        </div>
    </p-panel>
</div>