<div class="mt-3 mr-4 ml-4 mb-3">
    <p-panel [toggleable]="false">
        <ng-template #header>
            <div class="flex items-center gap-2"> 
                <p-button 
                    icon="pi pi-arrow-left" 
                    [rounded]="true" 
                    [text]="true" 
                    (click)="goBack()" 
                    pTooltip="Volver"
                    tooltipPosition="bottom"/>
                <span class="font-bold" style="margin-top: 15px">Ciclos y módulos</span>
            </div>
        </ng-template>

        <ng-template #icons>
            <p-button icon="pi pi-file-plus" 
                        severity="secondary" 
                        rounded text  
                        tooltipPosition="left" 
                        pTooltip="Añadir nuevo ciclo"
                        (click)="navigatorService.navigateNewCycle()"
                        />
            <p-button icon="pi pi-file-export" 
                        severity="secondary" 
                        rounded text  
                        tooltipPosition="left" 
                        pTooltip="Exportar datos"
                        (click)="exportToJSON()"
                        />

            <p-button icon="pi pi-file-import" 
                        severity="secondary" 
                        rounded text  
                        tooltipPosition="left" 
                        pTooltip="Importar datos"
                        (click)="fileInput.click()"
                        />
            <input type="file" #fileInput (change)="importJSON($event)" accept=".json" style="display:none" />

        </ng-template>

        <div class="card">
            <p-treetable [value]="cycles" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}">
                <ng-template #header>
                    <tr>
                        <th>Nombre del Módulo / Ciclo</th>
                        <th class="text-center">Código en el informe</th>
                        <th class="text-center">Horas</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </ng-template>
                
                <ng-template #body let-rowNode let-rowData="rowData">
                    <tr [ttRow]="rowNode">
                        <td>
                            <div class="flex items-center gap-2">
                                <p-treetable-toggler [rowNode]="rowNode" />
                                <span [class.font-bold]="rowData.type !== 'module'">
                                    {{ rowData.name }}
                                </span>
                            </div>
                        </td>
                        <td class="text-center">
                            @if (rowData.type === 'module') {
                                <span class="p-tag p-tag-info">{{ rowData.report_code }}</span>
                            }
                        </td>
                        <td class="text-center">
                            @if (rowData.type === 'module') {
                                <span>{{ rowData.hours }} h</span>
                            }
                        </td>
                        <td class="text-center">
                            @if (rowData.type !== 'module'){
                                <p-button icon="pi pi-file-plus"                                 
                                    rounded text 
                                    pTooltip="Añadir módulos"
                                    (click)="navigatorService.navigateNewModule(rowData.id)"/>
                                <p-button icon="pi pi-pencil"                                 
                                    rounded text 
                                    pTooltip="Editar Ciclo"
                                    (click)="navigatorService.navigateEditCycle(rowData.id)"/>
                                <p-button icon="pi pi-trash"                                 
                                    rounded text severity="danger" 
                                    pTooltip="Eliminar Ciclo"
                                    (click)="confirmDeleteCycle(rowData)"/>
                            }
                            @else {
                                <p-button icon="pi pi-pencil"                                 
                                    rounded text 
                                    pTooltip="Editar Módulo"
                                    (click)="navigatorService.navigateEditModule(rowData.id)"/>
                                <p-button icon="pi pi-trash"                                 
                                    rounded text severity="danger" 
                                    pTooltip="Eliminar Módulo"
                                    (click)="confirmDeleteModule(rowData)"/>
                            }
                        </td>
                    </tr>
                </ng-template>
            </p-treetable>
        </div>
    </p-panel>
</div>

<p-confirmDialog />