<div class="mt-6">
    
    <div class="flex flex-wrap justify-content-center gap-4 align-items-stretch">

        <div class="w-full md:w-20rem">
            <ui-button-card
                class="h-full block"
                icon="pi pi-file" 
                title="Faltas"
                (click)="goToReport()">
            </ui-button-card>
        </div>

        <div class="w-full md:w-20rem">
            <ui-button-card
                class="h-full block"
                icon="pi pi-file-arrow-up" 
                title="Importar datos">
            </ui-button-card>
        </div>

        </div>

</div>