@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html, body{
    background: #f1f5f9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita el scroll horizontal accidental */
    box-shadow: none !important;
}



.btn{
    border-radius: 8px; 
    text-transform: none; 
    font-weight: 500;
}



.w-full {
  width: 100%;
}


:root{
  --p-primary-color: #009688 !important;
  --p-primary-contrast-color: #ffffff !important;
}